@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
     text-decoration: none;
     list-style: none;
     padding: 0;
     margin: 0;

}


:root {
     --main-color1: #0C1B5C;
     --main-color2: #C31C22;
     --second-color: #394F64;
     --font-size-header1: 1.1rem;
     --font-style-header1: "Montserrat", sans-serif;
     --font-style-fondo: "Modak", system-ui;
     --font-body: "Rubik Scribble", system-ui;
     --secondary: #1b615fb2;
     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}



header {
     position: relative;
     width: 100%;
     border-bottom: 1px solid #00000041;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     background: var(--white);
     box-shadow: var(--box-shadow);
     align-items: center;
     padding: 2rem 9%;
     font-family: var(--font-style-header1);
     font-size: var(--font-size-header1);
}


.header .img {
     max-width: 100px;
     justify-content: none;
}

.header .logo {
     font-size: var(--font-size-header1);
     font-weight: bolder;
     color: var(--black);
     display: flex;
     align-items: center;

}

header ul li {
     display: inline-block;
     list-style: none;
     margin: 0 20px;
}

.logo img {
     width: 50px;
     margin-right: 10px;
}


header ul li:last-child {
     margin-right: 0;
}



header ul .submenu {
     position: absolute;
     width: 200px;
     background-color: #ffffff;
     box-shadow: 0 5px 5px #0000007c;
     margin-top: 50px;
     opacity: 0;
     z-index: -9999;
     transition: all ease 0.5s;
}

header ul li:hover .submenu {
     opacity: 1;
     z-index: 9999;
     margin-top: 0;
}


header ul .submenu li {
     margin: 0;
     width: 100%;
}

header ul .submenu li a {
     padding: 15px 20px;
     display: inline-block;
     width: 100%;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.header .navbar1 a {

     color: var(--black);
     margin: 0 1rem;
     padding-block: 1rem;
}


.header .navbar1 a:hover {
     color: var(--main-color2);
}

.header .navbar1 .hover-underline {
     position: relative;
     max-width: max-content;
}

.header .navbar1 .hover-underline::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: .5rem;
     border-block: .1rem solid var(--main-color2);
     transform: scaleX(0.2);
     opacity: 0;
     transition: 500ms ease;
     font-weight: 900;
}

.header .navbar1 .hover-underline:is(:hover, :focus-visible)::after {
     transform: scaleX(1);
     opacity: 1;
}

.header .icons div:hover {
     color: var(--main-color1);
}

.header .dark-bottom {
     display: flex;
     align-items: center;

}

header.sticky {
     background-color: #66b1af;
     position: fixed;
}

h1 {
     font-family: var(--font-style-header1);
     color: var(--main-color1);
     font-size: 2rem;
     font-weight: 600;
}

h1 span {
     color: var(--second-color);
     position: relative;
}

h1 span::before {
     content: "";
     height: 30px;
     width: 2px;
     position: absolute;
     top: 50%;
     right: -8px;
     background: var(--second-color);
     transform: translateY(-45%);
     animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before {
     animation: none;
}

@keyframes blink {
     50% {
          opacity: 0
     }
}

.container-galeria {
     display: flex;
     align-items: center;
     width: 80%;
}



hr {
     height: 11px;
     background-color: var(--main-color1);
     border-color: var(--main-color1);
}

/*Galeria*/
.galeriaT {
     width: 100vw;
     height: 35vh;
     display: flex;
     align-items: center;
     justify-content: space-around;
     background: url(../img/fondoRpC.jpg);
}

.galeriaT h1 {
     font-size: 60px;
}

/* carrusel */

#primera-seccion {
     margin: 50px;
     display: flex;
     justify-content: space-around;
}

#contenido {
     flex: 1;

     text-align: left;
}

.slider {
     position: relative;
     width: 700px;
     height: 400px;
     overflow: hidden;
}

.slider img {
     width: 100%;
     height: auto;
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
}

.slider img.active {
     opacity: 1;
}

.slider-controls {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
     box-sizing: border-box;
}

.slider-controls button {
     background: rgba(199, 181, 181, 0.5);
     border: none;
     cursor: pointer;
     font-size: 24px;
     color: #333;
     padding: 10px;
     border-radius: 50%;
     transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.slider-controls button:hover {
     background: var(--main-color1);
     color: #fff;
}

/*footer*/
.container {
     max-width: 2000px;
     margin: auto;

}

.container h1 {
     margin: auto;
     display: flex;
     color: #fff;
     justify-content: center;

}

.footer {
     background-color: #393d46;
     padding: 40px 0;

}

.footer-row {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 40px;

}

.footer-links {
     width: 18%;
     padding: 0 30px;

}

.footer-links h4 {
     font-size: 20px;
     color: #ffffff;
     margin-bottom: 25px;
     font-weight: 500;
     border-bottom: 3px solid var(--main-color1);
     padding-bottom: 10px;
     max-width: max-content;

}

.footer-links ul li a {
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     display: block;
     margin-bottom: 15px;
     transition: all .3s ease;

}


.footer-links ul li {
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     display: block;
     margin-bottom: 15px;
     transition: all .3s ease;


}

.footer-links ul li:hover {
     color: #fff;
     padding-left: 6px;
}

.social-link a {
     display: inline-block;
     min-height: 40px;
     width: 40px;
     background-color: var(--second-color);
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all .5s ease;
}

.social-link a:hover {
     background-color: var(--main-color2)
}

.footer-copy {
     background-color: var(--second-color);
     padding: 40px;
     text-align: center;
}

.footer-copy p {
     color: white;
     font-size: 16px;
     font-family: var(--font-style-header1);
}