@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

* {
     text-decoration: none;
     list-style: none;
     padding: 0;
     margin: 0;

}


:root {
     --main-color1: #0C1B5C;
     --main-color2: #C31C22;
     --second-color: #394F64;
     --font-size-header1: 1.1rem;
     --font-style-header1: "Montserrat", sans-serif;
     --font-style-fondo: "Modak", system-ui;
     --font-body: "Rubik Scribble", system-ui;
     --secondary: #1b615fb2;
     --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}



header {
     position: relative;
     width: 100%;
     border-bottom: 1px solid #00000041;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     background: var(--white);
     box-shadow: var(--box-shadow);
     align-items: center;
     padding: 2rem 9%;
     font-family: var(--font-style-header1);
     font-size: var(--font-size-header1);
}


.header .img {
     max-width: 100px;
     justify-content: none;
}

.header .logo {
     font-size: var(--font-size-header1);
     font-weight: bolder;
     color: var(--black);
     display: flex;
     align-items: center;

}

header ul li {
     display: inline-block;
     list-style: none;
     margin: 0 20px;
}

.logo img {
     width: 50px;
     margin-right: 10px;
}


header ul li:last-child {
     margin-right: 0;
}



header ul .submenu {
     position: absolute;
     width: 200px;
     background-color: #ffffff;
     box-shadow: 0 5px 5px #0000007c;
     margin-top: 50px;
     opacity: 0;
     z-index: -9999;
     transition: all ease 0.5s;
}

header ul li:hover .submenu {
     opacity: 1;
     z-index: 9999;
     margin-top: 0;
}


header ul .submenu li {
     margin: 0;
     width: 100%;
}

header ul .submenu li a {
     padding: 15px 20px;
     display: inline-block;
     width: 100%;
}

nav {
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.header .navbar1 a {

     color: var(--black);
     margin: 0 1rem;
     padding-block: 1rem;
}


.header .navbar1 a:hover {
     color: var(--main-color2);
}

.header .navbar1 .hover-underline {
     position: relative;
     max-width: max-content;
}

.header .navbar1 .hover-underline::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: .5rem;
     border-block: .1rem solid var(--main-color2);
     transform: scaleX(0.2);
     opacity: 0;
     transition: 500ms ease;
     font-weight: 900;
}

.header .navbar1 .hover-underline:is(:hover, :focus-visible)::after {
     transform: scaleX(1);
     opacity: 1;
}

.header .icons div:hover {
     color: var(--main-color1);
}

.header .dark-bottom {
     display: flex;
     align-items: center;

}

/*limite*/



.fondo {
     background-image: url('../img/fondoRpC.jpg');
     background-size: cover;
     background-position: center;
     text-align: center;
     padding: 150px 0;
     display: flex;

}

.fondo-content {
     color: #fff;
     max-width: 600px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin: auto;

}

.fondo-content h1 {
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: var(--main-color1);
     font-family: var(--font-style-fondo);
     color: white;
     font-size: 120px;

}

.fondo-logof {
     margin: auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}


.conocer {
     padding: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 30px;
     align-items: flex-start;
}

.conocer-texto {
     flex: 1;
     padding-right: 20px;
}

.conocer-texto h2 {
     font-size: 30px;
     font-weight: 90;
}

.conocer-texto p {
     font-size: 20px;
     line-height: 1.7;
     margin-top: 50px;
}

.conocer-imagen {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
}

.conocer-imagen img {
     max-width: 70%;
     height: auto;
     border-radius: 20px;

}

#menu-btn {
     display: none;
}

header.sticky {
     background-color: #66b1af;
     position: fixed;
}

/* estilo letras */
h1 {
     font-family: var(--font-style-header1);
     color: var(--main-color1);
     font-size: 2rem;
     font-weight: 600;
}

h1 span {
     color: var(--second-color);
     position: relative;
}

h1 span::before {
     content: "";
     height: 30px;
     width: 2px;
     position: absolute;
     top: 50%;
     right: -8px;
     background: var(--second-color);
     transform: translateY(-45%);
     animation: blink 0.7s infinite;
}

h1 span.stop-blinking::before {
     animation: none;
}

@keyframes blink {
     50% {
          opacity: 0
     }
}

/* MODO OSCURO */
.dark-mode {
     --white: #111;
     --black: #fff;
     --main-color1: #dbfffe;
     --main-color2: #C31C22;
     --second-color: #394F64;
     background-color: var(--black);
     color: var(--white);
}

section {
     font-size: 30px;
}

body.dark-mode {
     background-color: #111;
     color: white;
}

.dark-mode .header {
     background-color: var(--black);
     color: var(--white);
}

.dark-mode .header .logo {
     color: var(--main-color2);
}

.dark-mode .header .navbar1 a {
     color: var(--white);
}

.dark-mode .header .navbar1 a:hover {
     color: var(--main-color2);
}

.dark-mode .fondo h1 {
     -webkit-text-stroke-color: var(--main-color2);
}

.text-animado {
     padding: 20px;
     border-bottom: 2px solid rgba(0, 0, 0, 0.1);
     box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.text-animado span {
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
}



.container {
     max-width: 2000px;
     margin: auto;
}

.container h1 {
     margin: auto;
     display: flex;
     color: #fff;
     justify-content: center;

}

.footer {
     background-color: #393d46;
     padding: 40px 0;

}

.footer-row {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 40px;

}

.footer-links {
     width: 18%;
     padding: 0 30px;

}

.footer-links h4 {
     font-size: 20px;
     color: #ffffff;
     margin-bottom: 25px;
     font-weight: 500;
     border-bottom: 3px solid var(--main-color1);
     padding-bottom: 10px;
     max-width: max-content;

}

.footer-links ul li a {
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     display: block;
     margin-bottom: 15px;
     transition: all .3s ease;

}


.footer-links ul li {
     font-size: 18px;
     text-decoration: none;
     color: #ffffff;
     display: block;
     margin-bottom: 15px;
     transition: all .3s ease;


}

.footer-links ul li:hover {
     color: #fff;
     padding-left: 6px;
}

.social-link a {
     display: inline-block;
     min-height: 40px;
     width: 40px;
     background-color: var(--second-color);
     margin: 0 10px 10px 0;
     text-align: center;
     line-height: 40px;
     border-radius: 50%;
     color: #ffffff;
     transition: all .5s ease;
}

.social-link a:hover {
     background-color: var(--main-color2)
}

.footer-copy {
     background-color: var(--second-color);
     padding: 40px;
     text-align: center;
}

.footer-copy p {
     color: white;
     font-size: 16px;
     font-family: var(--font-style-header1);
}

/*NOSOTROS*/
.titulo-nosotros {
     width: 100vw;
     height: 35vh;
     display: flex;
     align-items: center;
     background: url(../img/fondoRpC.jpg);
}

.tituloN-texto h1 {
     font-size: 60px;
     margin-left: 250px;
}

hr {
     height: 11px;
     background-color: var(--main-color1);
     border-color: var(--main-color1);
}

.puntos {
     display: flex;
     justify-content: space-around;
     margin-top: 130px;
     margin-bottom: 130px;
}

.nosotros-puntos {
     position: relative;
     display: inline-block;
     text-align: center;
}

.texto-nosotros {
     padding-right: 30px;
     padding-left: 30px;
     color: rgb(255, 255, 255);
     background-color: #033e97b9;
     position: absolute;
     top: 70%;
     left: 30%;
     transform: translate(-20%, -20%);
}

.texto-nosotros h2 {
     margin: 20px;
}

.texto-nosotros p {
     margin-bottom: 20px;
     justify-content: center;
     text-align: justify;
}





/* CSS */
.button-64 {
     align-items: center;
     background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
     border: 0;
     border-radius: 30px;
     box-shadow: rgba(142, 51, 247, 0.2) 0 15px 20px -5px;
     box-sizing: border-box;
     color: #FFFFFF;
     display: flex;
     font-family: Phantomsans, sans-serif;
     font-size: 14px;
     justify-content: center;
     line-height: 1.2em;
     max-width: 70%;
     min-width: 80px;
     padding: 4px;
     text-decoration: none;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     cursor: pointer;
     margin-bottom: 10px;
}

.button-64:active,
.button-64:hover {
     outline: 0;
}

.button-64 .span {
     background-color: var(--main-color1);
     padding: 10px 11px;
     border-radius: 30px;
     width: 80%;
     height: 80%;
     transition: 300ms;
     color: white;
}

.button-64:hover .span {
     background: none;
}

@media (min-width: 768px) {
     .button-64 {
          font-size: 15px;
          min-width: 180px;
     }
}


/*Mision-Vision*/
.titulo-misVis {
     width: 100vw;
     height: 35vh;
     display: flex;
     align-items: center;
     justify-content: space-around;
     background: url(../img/fondoRpC.jpg);
}

.misVis-texto h1 {
     font-size: 60px;
}

.content-Misión {
     display: flex;
     margin: 120px;
}

.Misión-texto {
     margin-top: 20px;
     margin-left: 20px;
     margin-right: 150px;
}

.Misión-texto h2 {
     font-size: 50px;
     color: var(--main-color1);
}

.Misión-texto p {
     font-size: 20px;
}

.content-Misión img {
     display: flex;
     margin: 30px;
}

/*vision*/
.content-Visión {
     display: flex;
     margin: 120px;
}

.Visión-texto {
     margin-top: 20px;
     margin-left: 200px;
     margin-right: 20px;
}

.Visión-texto h2 {
     font-size: 50px;
     color: rgba(47, 114, 3, 0.966)
}

.Visión-texto p {
     font-size: 20px;
}

.content-Visión img {
     display: flex;
     margin: 50px;
}

/*Proposito*/
.content-Propósito {
     display: flex;
     margin: 120px;
}

.Propósito-texto {
     margin-top: 20px;
     margin-left: 20px;
     margin-right: 150px;
}

.Propósito-texto h2 {
     font-size: 50px;
     color: var(--main-color2);
}

.Propósito-texto p {
     font-size: 20px;
}

.content-Propósito img {
     display: flex;
     margin: 30px;
}